.formclass{
    color: gray !important;
    background-color: rgb(238, 232, 232);
    border-radius: 5px;
    border-top: 1px solid #f2f2f2;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formclass input{
    background-color: white;
    width: 100%;
    border: 1px solid #ddd;
    color: #212529;
}

input[type=text]{
    height: 20px;
}

input[type=email]{
    height: 20px;
}

.button{
     padding: 0.5rem 1rem;
    font-size: 1.09375rem;
    line-height: 1;
    border-radius: 0.3rem;
    background-color: blue;  
    color:white; 
}

.formclass textarea{
    background-color: white;
    width: 100%;
    border: 1px solid #ddd;
    color: #212529;
}


